@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=League+Spartan:wght@300&family=Lora:ital@1&display=swap');

:root {
  --primary-blue: #0160a4;
  --lighter-blue: #64d7eb;
  --text-white: #f4f8fb;
  --text-black: #001f35;
  --background-fill: rgb(229, 242, 255);
  --fancy-font: 'Dancing Script', cursive;
  --content-font: 'League Spartan', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-fill);
  font-family: var(--content-font);
  color: var(--text-black);
}

header {
  width: 100vw;
  margin: 0 0 1em 0;
  padding: 0 1em;
  font-family: var(--fancy-font);
  font-size: 1.5em;
  background: linear-gradient(90deg, var(--primary-blue), var(--lighter-blue));
}

#welcome {
  margin: .1em 0 .2em 0;
}

.fancy {
  font-family: var(--fancy-font);
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.game {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  border: .15em solid var(--primary-blue);
  border-radius: .4em;
  margin: .5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  background-color: var(--text-white);
}

.game * {
  display: flex;
  align-items: center;
}

.clickable:hover, .link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-blue)
}

.powers, .players {
  margin:  0 1rem;
  /* padding: 1em; */
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 1em;
}

.winner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box-cover-container {
  background-color: var(--primary-blue);
  width: 23em;
  padding: 1em;
  display: flex;
  justify-content: center;
  border-radius: 1em;
}

#box-cover-img {
  height: 20em;
}

#filter-warning {
  font-size: .7em;
}

#games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 1em;
  font-size: 2em;
}

#games-list {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

#welcome {
  color: var(--text-white);
}